/* SellersList.css */
.sellers-container {
    margin: 50px;
    font-family: 'Arial', sans-serif; /* Or any font that you feel is Pokémon-themed */
  }
  
  .sellers-heading {
    color: #ffcb05; /* Pokémon yellow */
    text-align: center;
    background-color: #2a75bb; /* Pokémon blue */
    padding: 10px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  .sellers-list {
    display: flex;
    flex-direction: column; /* Change to column to stack cards vertically */
    align-items: center; /* Center cards horizontally */
    gap: 20px; /* Space between cards */
  }
  
  .seller-card {
    background: #f3f4f6; /* Light background for the card */
    border: 2px solid #ccc; /* Card border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    width: calc(100% - 40px); /* 100% width minus left and right padding */
    margin: 0 20px; /* Padding at the ends */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  .seller-card:hover {
    background-color: #ffcb05;
    cursor: pointer;
  }
  
  .seller-info {
    margin-bottom: 10px;
  }
  
  .seller-name {
    color: #333;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  .seller-price {
    color: #FF0000; /* Green color for price */
    margin: 5px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  .seller-address {
    color: black; /* Red color for address */
    font-size: 0.8em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}